{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ addresses.lname }}, {{ addresses.fname }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name: {{ addresses.fname }}</li>
        <li class="list-group-item">Last Name: {{ addresses.lname }}</li>
        <li class="list-group-item">Address: {{ addresses.address }}</li>
        <li class="list-group-item">City: {{ addresses.city }}</li>
        <li class="list-group-item">State: {{ addresses.state }}</li>
        <li class="list-group-item">Zip Code: {{ addresses.zipcode }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{addresses.id}}" class="card-link btn btn-primary">Edit</a>
    </div>
</div>
<form action="/delete/{{addresses.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}